.main {
  height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  /* height: 100dvh; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--main-color-alpha) 20%,
    var(--main-color) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.head-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.7rem;
  height: 100%;
  width: 100%;
  max-width: 1350px;
  z-index: 10;
  justify-self: center;
  padding: 7rem 1.5rem;
}

.date {
  text-transform: uppercase;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  max-width: 60%;
  color: var(--grey);
  line-height: 25px;
}

.tags {
  width: 100%;
  margin: 2rem 0rem;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tags::after {
  content: "";
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--white-alpha-text),
    var(--main-color)
  );
  position: absolute;
  bottom: -100%;
  left: 0;
}

.tag {
  font-size: 0.9rem;
}

.tag::after {
  content: ",";
}

.tag:last-child::after {
  content: "";
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.down-icon {
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  animation: bounce 1.5s infinite;
  height: 32px;
  width: 32px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%) translateY(0);
  }
  50% {
    transform: translate(-50%) translateY(-20px);
  }
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .date {
    font-size: 0.8rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    max-width: 100%;
    font-size: 0.9rem;
  }

  .tag {
    font-size: 0.75rem;
  }
}
