.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
}

.icon {
  fill: var(--white) !important;
  height: 22px;
  width: 22px;
}

@media (hover: hover) {
  .button:hover .icon {
    fill: var(--main-color) !important;
  }
}

@media (max-width: 1000px) {
  .button {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }

  .icon {
    height: 19px;
    width: 19px;
  }
}
