.main {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
}

.meImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 70%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: var(--main-color);
  padding: 3rem;
}
