.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  background-color: var(--main-color);
  padding: 0;
  width: 100%;
  position: relative;
}
