.background {
  pointer-events: none;
  position: absolute;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: 500%;
  height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  /* height: 100dvh; */
  width: 100%;
}
